@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
 
}

.intro {
    background: url(/img/header-tochkala.png) 100 0, #E5E5E5;
    margin:0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-left: 56px;
}
.nav a:hover{
     cursor: pointer;
     color:  #1F1534;
     font-weight: bold;

}

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.healthcare {
    display: inline-block;
    margin-top: 56px;
    vertical-align: top;
}

.row-into {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 79px;
    max-width: 1487px;
    max-height: 719px;
}

.healthcare-img {
    display: inline-block;
    margin-left: 185px;
    margin-bottom: 77px;
}

.healthcare-title {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    margin-bottom: 54px;
}

.consult {
    color: #FFF;
    background-color: #458FF6;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 15px;

}

/*==========================================================
                   Our services
============================================================*/
h2 {
    margin: 0;
    text-align: center;
}

.ourservices .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-height: 1133px;
}

.blog1 {
    height: 354px;
    width: 350px;
    margin-left: 100px;
    margin-top: 22px;
    border: 2px solid #fff;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    border-radius: 15px;
    padding: 44px 37px 46px 45px;

}

.black {
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
}

.spanblack {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.spanblack-center {
    text-align: center;
    line-height: 30px;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    margin-bottom: 85px;
}

.learn {
    border: 1.4px solid #458FF6;
    color: #458FF6;
    border-radius: 55px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    padding: 15px 35px ;
    margin-left: 42%;
    box-sizing: border-box;
}

/*==========================================================
                Leading healthcare providers
============================================================*/
.Leading-healthcare-providers {
    margin-top: 55px;
}
h3{
    margin-bottom: 23px;
}
.column {
    display: inline-block;
    background-color: #fff;
    margin-bottom: 70px;

}

.leading-title {
    display: inline-block;
    height: 388px;
}

.leading-title-sec {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-bottom: 71px;
}

.leading-img {
    margin-left: 135px;
    margin-right: 137px;
}
.more{
    padding: 20px 55px;
    margin-left: 0px;
}

/*===========================================================
                  Dowloand
=============================================================*/
.download{
    display: flex;
    justify-content: center;
}
.column2 {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    margin: 0 auto;
    max-height: 675px;
    max-width: 1365px;
}

.download-titleh3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.download-titlep {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-bottom: 52px;
}

.dowloand-img {
    display: inline-block;
    width: 665px;
    height: 434px;

}

.down {
    text-align: left;
    text-decoration: none;
    padding: 20px 55px;
    color:  #458FF6;
    border: 1px solid #458FF6;
    background-color: #fff;
    border-radius: 45px;
}


/*==========================================================
                  customer
============================================================*/
.customer{
    display: flex;
    justify-content: center;
}
h4{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: white;

}
.customer-container {
    max-width: 1120px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 64px 118px 89px 50px;
    margin-top: 266px;
} 
.row-costumer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: center;
}
.group img{
  margin-left: 118px;}

.group-name{
    margin-left: 33px;
}
.group-name .customer-text1 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    margin: 0;
    padding: 0;
}

.customer-text1-2{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
    padding: 0;
}

.cos-text2{
    width: 420px;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 80px;
}

/*===========================================================
               Check out our latest article
=============================================================*/

.page-title {
    font-size: 36px;
    font-weight: 700;
}

.page-title span {
    display: inline-block;
    width: 56px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 65px -15px;
}

.column3 {
    width: 33.3%;
    padding: 0 15px;
}
.view-all{
    text-decoration: none;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    color: #458FF6;
    padding:12px 22px;
    margin-top: 69px;
    margin-left: 450px;

}

/* =========================================
    Latest articles
==========================================*/


.latest-articles .container {
    
    max-width: 1110px;
}

.latest-articles .page-title {
    margin-bottom: 79px;
    text-align: center;
}

.blog {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden;
}

.blog-text {
    padding: 30px;
}
.blog-a{
    color:  #4089ED;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
   line-height: 28px;
}

/* =========================================
    Main footer
==========================================*/

.main-footer {
    height: 432px;
    background: url(../img/articles-bg1.png) no-repeat left bottom, linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-direction:column;
    flex-flow:column wrap;
    justify-content: space-between;
}

.colunm5-1{
        padding-right: 95px;
}
.column5{
    display: flex;
    flex-direction: column;
   
}
.foot-trafalgar{
   font-size: 24px;
   line-height: 30px;
   text-align: left;  
   font-weight: bold;
   color: #FFF;
}

ul{
    list-style-type: none;
    padding-left: 143px;
    
}
.footer-firstul{
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.footer-sec-ul{
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color:#fff;
}
.traf-title{
    line-height: 28px;
}
.traf-title2{
    font-size: 16px;
}